.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    ". sidebar header ."
    ". sidebar body .";
    gap: 0 24px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    grid-area: body;
}